<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Feel the Heat?</title>
</head>
<nav>
  <h2><a href="/" class="home">Feel the Heat?</a></h2>&nbsp;&nbsp;&nbsp;
  <a href="./articles" class="nav">Articles</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/" class="nav">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% if (user) { %>
        <a href="/logout" class="nav">LOG OUT</a>&nbsp;&nbsp;
      <% } else { %>
        <a href="/auth/google" class="nav">LOG IN&nbsp;&nbsp;&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
  </nav>
    