<%- include('../partials/header') %>

<h1>HI</h1>
<h1>Carbon Dioxide</h1>
<h1>Global Temperature</h1>
<h1>Artic Ice Gone</h1>
<h1>Glaciers Melting</h1>
<h1>Sea Temperature</h1>
<h1>Sea Level</h1>
<%- include('../partials/footer') %>