<%- include('../partials/header') %>

<% if (user) { %>
  <form id="add-review-form" method="POST"
  action="/articles/<%= article._id %>/reviews/<%= review %>?_method=put">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>


<%- include('../partials/footer') %>
