<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/newpage.css">


<form id="new-form" action="/articles" method="POST">
  <label id="article-title">Article Title:</label> 
  <input id="title" type="text" name="title">
  <div></div>
  <h1></h1>
  <label>Published Date:</label>
  <input id="publishedDate" type="text" name="publishedDate">
  <input type="submit" value="Add Article">
</form>



<%- include("../partials/footer") %>