<%- include("../partials/header") %>

<form id="new-form" action="/articles" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Release Year:</label>
  <input type="text" name="releaseYear">
</form>


<%- include("../partials/footer") %>