<%- include("../partials/header") %>

<!-- <div class="maincontainer">
<div class="thecard">
<div class="thefront"><h1>Front of Card</h1></div>
<div class="theback"><h1>Back of Card</h1> -->
  
<form id="new-form" action="/articles" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Published Date:</label>
  <input type="text" name="publishedDate">
  <input type="submit" value="Add Article">
</form>


<%- include("../partials/footer") %>