<%- include("../partials/header") %>

<form id="new-form" action="/articles" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Published Date:</label>
  <input type="text" name="publishedDate">
  <input type="submit" value="Add Article">
</form>


<%- include("../partials/footer") %>