<%- include("../partials/header") %>

<style>
  body {
    background-image: url('https://www.serviceobjects.com/blog/wp-content/uploads/2018/04/One-Tree-Planted-3.jpg');
    background-size: cover;
  }
  a {
    color: green;
  }
  nav > a:hover:not(.active) {
    color: yellow;
    background-color: green;
    padding: 30px 6px;
  }
  .home:hover:not(.active) {
    background-color: green;
    color: yellow;
    padding: 20px 6px 17px;
  }
  .icon {
    color: yellow;
    outline: 2px solid green;
  }
</style>

<form id="new-form" action="/articles" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Published Date:</label>
  <input type="text" name="publishedDate">
  <input type="submit" value="Add Article">
</form>



<%- include("../partials/footer") %>