body {
  background-image: url("https://climate.nasa.gov/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMjlZQWc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--6a285e4dc2be73d7a37f1d230fe5222aff4a82f1/about_us_banner.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 70%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs {
  height: 100%;
  width: 50rem;
  text-align: center;
}

.blogs > h1 {
  padding-top: 20rem;
  /* padding-bottom: 5rem; */
  color: white;
}

.mission {
  padding: 3rem 0;
}

.humanity-goal {
  padding: 1.5rem 0;
}

.humanity-goal > * {
  padding-bottom: 1rem;

}

.humanity-goal h1, .mission h1 {
  text-decoration: underline;
}



@media only screen and (min-width: 1450px)  {

  body {
    background-size: 100%;

  }

  .container > * {
    width: 100%;
  }

  .mission {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1700px)  {
  
  .blogs {
    margin-top: 1rem;
    padding: 0;
  }

  .mission {
    margin-top: 10rem;
  }
}

@media only screen and (min-width: 2000px)  {

  .blogs {
    margin-top: 10rem;
  }
  body {
    background-size: 100% 50%;
  }
}

@media only screen and (min-width: 2400px)  {

  .blogs {
    margin-top: 20rem;
  }
  body {
    background-size: 100% 55%;
  }
  }

@media only screen and (min-width: 2650px)  {

  .blogs {
    margin-top: 30rem;
  }
  body {
    background-size: 100% 60%;
  }
  }

@media only screen and (min-width: 2900px)  {

  .blogs {
    margin-top: 40rem;
  }
  body {
    background-size: 100% 65%;
  }
  }

@media only screen and (min-width: 3200px)  {

  .blogs {
    margin-top: 50rem;
  }

  body {
    background-size: 100% 70%;
  }
  }