video {
  z-index: -1;
  position: absolute;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  margin: 15px 0 10px 20px;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover {
  -webkit-transform: rotate(90deg) translateZ(0);
} 

.circle1::after, .circle2::after, .circle3::after, .circle4::after, .circle5::after, .circle6::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: blue;
  height: 7px;
  margin-top: -4px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle1::before, .circle2::before, .circle3::before, .circle4::before, .circle5::before, .circle6::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: blue;
  width: 7px;
  margin-left: -4px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover {
  background-color: rgba(12, 12, 12, 0.5);
}


h3 {
  color: white;
  font-size: 18.2px;
  margin: 20px 0 10px 20px;
}

.circle-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
}

.circle-container h1, .circle-container div, .circle-container h3 {
  margin: 0;
}