video {
  z-index: -1;
  position: absolute;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
  margin: 15px 0 10px 20px;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover {
  -webkit-transform: rotate(90deg) translateZ(0);
} 

.circle1::after, .circle2::after, .circle3::after, .circle4::after, .circle5::after, .circle6::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: blue;
  height: 7px;
  margin-top: -4px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle1::before, .circle2::before, .circle3::before, .circle4::before, .circle5::before, .circle6::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: blue;
  width: 7px;
  margin-left: -4px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover {
  background-color: rgba(12, 12, 12, 0.5);
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
  left: 40%;
}

#circle1, #circle2, #circle3, #circle4, #circle5, #circle6 {
  background-color: rgb(255, 255, 255, 0.3);
  max-width: 450px;
}

h2 {
  color: white;
  font-size: 1.5rem;
  /* margin: 20px 0 10px 20px; */
}

.circle-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
}

.circle-container h1, .circle-container div, .circle-container h3 {
  margin: 0;
}

.model1, .model2, .model3, .model4, .model5, .model6 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.model-content {
  width: 80%;
  max-width: 60rem;
  background-color: #eee;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #777;
  position: relative;
  text-align: center;
  animation: slide ease 0.8s;
  z-index: 999;
}

@keyframes slide {
  0% {
    transform: translateY(-30rem);
  }
  100% {
    transform: translateY(0);
  }
}

.close1, .close2, .close3, .close4, .close5, .close6 {
  position: absolute;
  top: 5px;
  right: 10px;
  color: red;
  font-size: 2rem;
  cursor: pointer;
  border: 1.5px solid black;
  padding: 0 5px;
}

/* .slide-up {
  animation: slide-up ease 0.8s;
} */
/* 
@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50rem);
  }
} */
