body {
  background-image: url('https://climate.nasa.gov/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcnNCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--36c00e11e2cd18e35f2f5d802d627f6061100fee/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MWm05eWJXRjBPZ2wzWldKdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--308d105b858fde2aa7c2bd953e87f719e2dd73bb/1266_banner-solutions-1600x500.jpg?content_type=image%2Fwebp&disposition=inline');
  background-repeat: no-repeat;
  background-size: 1500px 500px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs {
  display: grid;
  height: 38rem;
  width: 75rem;
  text-align: center;
}

.blogs .talk {
  padding-top: 18.5rem;
  padding-bottom: 5rem;
  color: white;
}

.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.new-input {
  margin: 3rem 0;
}

.blogs button, #new-blog {
  text-align: center;
  height: 3rem;
  width: 10rem;
  background-color: lightblue;
  border: 3px solid black;
  border-radius: 10px;
}


.button {
  color: black;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
}

#new-blog {
  margin-right: 15.7rem;
  margin-bottom: 7rem;
  position: absolute;
  bottom: 0;
  right: 0;
}