body {
  background-image: url('https://media.istockphoto.com/photos/climate-change-from-drought-to-green-growth-picture-id1339138376?b=1&k=20&m=1339138376&s=170667a&w=0&h=LkfiOLl4Heo9eBEgrQNfQUr7UJ5Q0Cr0jufF2RXz_uo=');
  background-size: cover;
  }
 
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 38rem;
  width: 75rem;
  text-align: center;
}

.blogs button {
  text-align: center;
  height: 3rem;
  width: 10rem;
  background-color: lightgreen;
  border: 3px solid black;
  border-radius: 10px;
}


.button {
  color: green;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
}