body {
    background-image: url('https://climate.nasa.gov/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcmdCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--ed03884dc444877f6d1bcea489e075f213b4aeb5/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MWm05eWJXRjBPZ2wzWldKdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--308d105b858fde2aa7c2bd953e87f719e2dd73bb/1302_1291_banner-met-1600x500.jpg?content_type=image%2Fwebp&disposition=inline');
    background-repeat: no-repeat;
    background-size: 100% 70%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#new-blog {
  text-align: center;
  color: white;
  padding-top: 20rem;
  padding-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-blog {
  display: flex;
  justify-content: center;
  height: 30rem;
  width: 50rem;
}

#new-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  height: 10rem;
  width: 25rem;
}

#new-form > * {
  margin: 1rem 0;
}

#new-form div {
  margin-top: 1.2rem;
  margin-right: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

textarea {
  resize: none;
  height: 3rem;
  width: 15rem;
}

#new-form textarea {
  display: flex;
  justify-content: center;
  width: 15rem;
  border-radius: 10px;
}

#submit {
  height: 5rem;
  width: 15rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1450px)  {

  body {
    background-size: 100% 38%;

  }

  #new-blog {
    margin-bottom: -4rem;
  }

  .container > * {
    width: 100%;
  }
}

@media only screen and (min-width: 1700px)  {
  
  #new-blog {
    margin-top: 1.5rem;
  }

  #new-blog {
    margin-bottom: 9rem;
  }
  body {
    background-size: 100% 46%;

  }
}

@media only screen and (min-width: 2000px)  {

  #new-blog {
    margin-top: 6.5rem;
  }

  #new-blog {
    margin-bottom: 9rem;
  }

  body {
    background-size: 100% 50%;
  }
}

@media only screen and (min-width: 2400px)  {

  #new-blog {
    margin-top: 11.5rem;
  }

  #new-blog {
    margin-bottom: 9rem;
  }

  body {
    background-size: 100% 55%;
  }
  }

@media only screen and (min-width: 2650px)  {

  #new-blog {
    margin-top: 16.5rem;
  }
  #new-blog {
    margin-bottom: 9rem;
  }

  body {
    background-size: 100% 60%;
  }
  }

@media only screen and (min-width: 2900px)  {

  #new-blog {
    margin-top: 21.5rem;
  }

  #new-blog {
    margin-bottom: 9rem;
  }

  body {
    background-size: 100% 65%;
  }
  }

@media only screen and (min-width: 3200px)  {

  #new-blog {
    margin-top: 26.5rem;
  }

  #new-blog {
    margin-bottom: 9rem;
  }

  body {
    background-size: 100% 70%;
  }
  }