body {
  background-image: url("https://climate.nasa.gov/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcmtCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7eb25f16a2523b655b26a4b751b9f7428f995fe5/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MWm05eWJXRjBPZ2wzWldKdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--308d105b858fde2aa7c2bd953e87f719e2dd73bb/1268_banner-articles-1600x500.jpg?content_type=image%2Fwebp&disposition=inline");
  background-repeat: no-repeat;
  background-size: 1500px 500px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-articles {
  width: 50rem;
  height: 100%;
  padding-top: 1rem;
  text-align: center;
}

.news-articles h1 {
  padding-top: 19rem;
  padding-bottom: 5rem;
  color: white;
}

.news-articles div {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.news-articles a {
  color: blue;
}

.news-articles a:hover {
  color: purple;
  text-decoration: underline;
}

.news-articles img {
  width: 100vh;
  padding-top: 1rem;
}

p {
  color: blue;
}

h6 {
  margin: 0;
}