body {
  background-image: url("https://climate.nasa.gov/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcmtCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--7eb25f16a2523b655b26a4b751b9f7428f995fe5/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MWm05eWJXRjBPZ2wzWldKdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--308d105b858fde2aa7c2bd953e87f719e2dd73bb/1268_banner-articles-1600x500.jpg?content_type=image%2Fwebp&disposition=inline");
  background-repeat: no-repeat;
  background-size: 100% 70%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-articles {
  width: 50rem;
  height: 100%;
  padding-top: 1rem;
  text-align: center;
}

.news-articles h1 {
  padding-top: 19rem;
  padding-bottom: 5rem;
  color: white;
}

.news-articles div {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.news-articles a {
  color: blue;
}

.news-articles a:hover {
  color: purple;
  text-decoration: underline;
}

.news-articles img {
  width: 100vh;
  padding-top: 1rem;
}

p {
  color: blue;
}

h6 {
  margin: 0;
}

@media only screen and (max-width: 1000px)  {
  body {
    background-size: 100% 30%;
  }

  nav a, .container h1 {
    color: black;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }

  nav a {
    margin-top: 1rem;
    z-index: 1;
  }

  nav > h2 {
    margin-right: 5%;
  }

  .container img {
    width: 50%;
  }
}


@media only screen and (max-width: 1400px)  {
  body {
    background-size: 100% 40%;
  }

  .container img {
    width: 75%;
  }
}

@media only screen and (min-width: 1450px)  {

  body {
    background-size: 100% 38%;

  }

  .news-articles h1 {
    margin-bottom: 2rem;
  }

  .container > * {
    width: 100%;
  }
}


@media only screen and (min-width: 1700px)  {
  
  .news-articles {
    margin-top: 1rem;
  }

  .news-articles h1 {
    margin-bottom: 8rem;
  }
  body {
    background-size: 100% 46%;

  }
}

@media only screen and (min-width: 2000px)  {

  .news-articles {
    margin-top: 10rem;
  }

  .news-articles h1 {
    margin-bottom: 8rem;
  }

  body {
    background-size: 100% 50%;
  }
}

@media only screen and (min-width: 2400px)  {

  .news-articles {
    margin-top: 20rem;
  }

  .news-articles h1 {
    margin-bottom: 8rem;
  }

  body {
    background-size: 100% 55%;
  }
  }

@media only screen and (min-width: 2650px)  {

  .news-articles {
    margin-top: 30rem;
  }
  .news-articles h1 {
    margin-bottom: 8rem;
  }

  body {
    background-size: 100% 60%;
  }
  }

@media only screen and (min-width: 2900px)  {

  .news-articles {
    margin-top: 40rem;
  }

  .news-articles h1 {
    margin-bottom: 8rem;
  }

  body {
    background-size: 100% 65%;
  }
  }

@media only screen and (min-width: 3200px)  {

  .news-articles {
    margin-top: 50rem;
  }

  .news-articles h1 {
    margin-bottom: 8rem;
  }

  body {
    background-size: 100% 70%;
  }

  .container img {
    width: 25%;
  }
  }
