body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgreen;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-articles {
  width: 50rem;
  height: 100%;
  padding-top: 2rem;
  text-align: center;
}

.news-articles h1 {
  text-decoration: underline;
}

.news-articles div {
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.news-articles a {
  color: blue;
}

.news-articles a:hover {
  color: yellow;
  text-decoration: underline;
}

.news-articles img {
  width: 100vh;
  padding-top: 1rem;
}

p {
  color: blue;
}

h6 {
  margin: 0;
}