* {
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "nav"
    "main";
}


h3 {
  color: yellow;
  font-size: 18.2px;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s;
}

.circle1:hover, .circle2:hover, .circle3:hover, .circle4:hover, .circle5:hover, .circle6:hover {
  -webkit-transform: rotate(90deg) translateZ(0);
} 

.circle1::after, .circle2::after, .circle3::after, .circle4::after, .circle5::after, .circle6::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: yellow;
  height: 7px;
  margin-top: -4px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}
.circle1::before, .circle2::before, .circle3::before, .circle4::before, .circle5::before, .circle6::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: yellow;
  width: 7px;
  margin-left: -4px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

/* .circle1, .circle2, .circle3 {
  left: 1100px;
  top: 400px;
  padding: 5px;
  
}

.circle4, .circle5, .circle6 {
  left: 500px;
  top: 250px;
} */

th, td, label, #show-page, #add-review-form {
  color: yellow;
  font-size: 25px;
  text-align: center;
  margin: auto;
}

nav {
  background-color: lightblue;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > h2 {
  margin-right: auto;
}

a {
  color: yellow;
  font-size: 20px;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.nav img {
  height: 30px;
} 

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav > a:hover:not(.active) {
  color: yellow;
  background-color: blue;
  padding: 30px 6px;
}

nav > a.active {
  color: white;
  cursor: default;
}

.home:hover:not(.active) {
  background-color: blue;
  padding: 20px 6px 17px;
}

.review-user > img {
  width: 40px;
}

body > h1 {
  /* margin: 0; */
  justify-content: space-evenly;
  color: yellow;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

@keyframes shake {
  10% {
      transform: rotate(15deg);
  }

  20% {
      transform: rotate(-15deg);
  }

  30% {
      transform: rotate(15deg);
  }

  40% {
      transform: rotate(-15deg);
  }
  icons {
  display: flex;
  column-gap: 25px;
}
  }

.icon {
  color: yellow;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  border-radius: 50%;
  outline: 2px solid yellow;
  transition-property:
      outline-offset, outline-color,
      background-color;
  transition-duration: .25s;
}

.icon:hover {
  outline-offset: 4px;
}

.icon:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%,
          #fdf497 0%, #fccc63 5%,
          #fd5949 45%, #d6249f 60%,
          #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.icon--facebook:hover {
  background-color: #387AE3;
  outline-color: #387AE3;
}
.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

/* 
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  position: absolute;
  top: 50%;
  width: 500px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 50px;
  text-align: center;
  background-color: #f1f1f1;
}
  

p > .card1 {
  position: absolute;
  left: 20px;
  bottom: 80px;
}

.maincontainer {
  position: absolute;
  width: 250px;
  height: 320px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thecard {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.thecard:hover{
  transform: rotateY(180deg);
}

 .thefront{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

.theback{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}

.thefront h1, .theback h1{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
.thefront p, .theback p{
  font-family: 'zilla slab', sans-serif;
  padding: 30px;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
} 
*/