<%- include('../partials/header') %>

<div class="circle-container">
  <div class="circle-child"></div>
  <h3>Global Temperature</h3>
    <div class="circle1"></div>
  <div class="circle-child"></div>
  <h3>Sea Level</h3>
    <div class="circle2"></div>
  <div class="circle-child"></div>
  <h3>Glaciers Melting</h3>
    <div class="circle3"></div>
  <div class="circle-child"></div>
  <h3>Artic Ice Sheets</h3>
    <div class="circle4"></div> 
  <div class="circle-child"></div>
  <h3>Carbon Dioxide</h3>
    <div class="circle5"></div>
  <div class="circle-child"></div>
  <h3>Sea Surface Temperature</h3>
    <div class="circle6"></div>
</div>

<style>
  body {
    background-image: url('https://s.w-x.co//util/image/w/polarbear4.jpg?crop=16:9&width=980&format=pjpg&auto=webp&quality=60');
    background-size: cover;
  }
  </style>




<!-- <span class="dot1"></span>
<span class="dot2"></span>
<span class="dot3"></span>
<span class="dot4"></span>
<span class="dot5"></span>
<span class="dot6"></span> -->


<!-- <p class="card1">
<div class="maincontainer">
<div class="thecard">
<div class="thefront"><h1>Front of Card</h1></div>
<div class="theback"><h1>Back of Card</h1>
</p>

<p class="card2">
  <div class="maincontainer">
    <div class="thecard">
    <div class="thefront"><h1>Front of Card</h1></div>
    <div class="theback"><h1>Back of Card</h1>
</p> -->


<!-- <div class="row">
  <div class="column">
    <div class="card">Hi</div>
  </div>
  <div class="column">
    <div class="card">Hi</div>
  </div>
  <div class="column">
    <div class="card">Hi</div>
  </div>
  <div class="column">
    <div class="card">Hi</div>
  </div>
</div> -->


<!-- <h1>Carbon Dioxide</h1>
<h1>Global Temp</h1>
<h1>Sea Level</h1>
<h1>Glaciers Melting</h1>
<h1>Artic Ice </h1>
<h1>Sea Surface Temperature</h1> -->



<%- include('../partials/footer') %>