<%- include('../partials/header') %>
  
<link rel="stylesheet" href="/stylesheets/homepage.css">
<script defer src="../../javascripts/app.js"></script>
  
  <video width="1450" height="820"autoplay muted loop id="myVideo">
    <source src="ice.mp4" type="video/mp4">
  </video>
<div class="circle-container">
  <div id="circle1">
    <h1>Carbon Dioxide</h1>
    <button class="hoverMeTop button"></button>
    <h2>+420 parts per million</h2>
    <div class="circle1"></div>
  </div>
  <div id="circle2">
    <h1>Global Temperature</h1>
    <button class="hoverMeTop button"></button>
      <h2>+1.01 Celsius since 1880</h2>
    <div class="circle2"></div>
  </div>
  <div id="circle3">
    <h1>Glaciers Melting</h1>
    <button class="hoverMeTop button"></button>
      <h2>-12.6 percent per decade since 1879</h2>
    <div class="circle3"></div>
  </div>

  <div id="circle4">
    <h1>Artic Ice Sheets</h1>
    <button class="hoverMeTop button"></button>
      <h2>-427 billion metric tons per year</h2>
    <div class="circle4"></div>
  </div>
  <div id="circle5">
    <h1>Sea Level</h1>
    <button class="hoverMeTop button"></button>
      <h2>+4 inches since Jan 1993</h2>
    <div class="circle5"></div>
  </div>   
  <div id="circle6">
    <h1>Sea Surface Temperature</h1>
    <button class="hoverMeTop button"></button>
      <h2>+337 zettajoules since 1955</h2>
    <div class="circle6"></div>
  </div>
</div>
<div class="model1">
  <div class="model-content">
    <span class="close1">&times;</span>
    <h1>Carbon Dioxide</h1>
    <p>Increased levels of carbon dioxide (CO2) in the Earth's atmosphere can have a range of environmental impacts. Some of the most significant impacts of increased CO2 levels include:
      Global warming: CO2 is a greenhouse gas, which means that it absorbs and traps heat in the Earth's atmosphere. As CO2 levels increase, more heat is trapped, leading to a rise in global temperatures. This can lead to a range of impacts, including more frequent heatwaves, droughts, and extreme weather events.
      Acidification of the oceans: CO2 dissolved in seawater can form carbonic acid, which can make the oceans more acidic. This can have serious impacts on marine life, particularly shellfish and coral reefs.
      Changes in ecosystems: As global temperatures rise, many species will be forced to adapt to new conditions or migrate to new areas. This can lead to changes in the balance of ecosystems and the loss of biodiversity.
      Impact on agriculture: Changes in temperature and precipitation patterns can affect crop yields and the distribution of pests and diseases. This can have serious consequences for food security.
      It's important to note that the magnitude and specific impacts of increased CO2 levels will vary depending on the region and the local environment.</p>
      <div><img src="CO2.png"></div>
  </div>
</div>
<div class="model2">
  <div class="model-content">
    <span class="close2">&times;</span>
    <h1>Global Temperature</h1>
    <p>Rising global temperatures, also known as global warming, can have a range of impacts on the world. Some of the potential effects of global warming include:
      Changes in weather patterns: Global warming can lead to more frequent and severe heatwaves, droughts, and storms. These changes can disrupt agriculture, damage infrastructure, and increase the risk of natural disasters.
      Melting of polar ice caps: As temperatures rise, polar ice caps and glaciers are melting at an increasing rate. This can lead to rising sea levels, which can threaten coastal communities and infrastructure.
      Changes in ecosystems: As temperatures rise, many plants and animals may be forced to move to new areas in order to survive. This can lead to changes in the makeup of ecosystems and could have impacts on the food chain.
      Increased health risks: Global warming can increase the risk of heat-related illnesses and can also contribute to the spread of diseases through changes in the distribution of vectors such as mosquitoes.
      Changes in agriculture: Rising temperatures and changing weather patterns can impact crop yields and the availability of food.
      Overall, rising global temperatures can have a range of negative impacts on the world, including economic, social, and environmental consequences.</p>
      <div><img src="temperature.png"></div>
  </div>
</div>
<div class="model3">
  <div class="model-content">
    <span class="close3">&times;</span>
    <h1>Glaciers Melting</h1>
    <p>Glacier melting can have a number of significant effects on the Earth's climate and environment. Some of the ways that melting glaciers can affect our world include:
      Rising sea levels: As glaciers melt, they contribute to rising sea levels. When glaciers on land melt, the water flows into the oceans, causing the sea level to rise. This can have a number of negative effects, including flooding of coastal areas, erosion of shorelines, and increased risk of storm surge during hurricanes and other severe weather events.
      Changes in water availability: Melting glaciers can also affect water availability in regions that depend on glacial meltwater for irrigation, drinking water, and other purposes. For example, in areas of the Andes Mountains in South America, melting glaciers are a major source of water for agriculture. As these glaciers melt, farmers may face shortages of water for irrigation.
      Changes in climate patterns: The loss of glaciers can also lead to changes in regional and global climate patterns. For example, the melting of glaciers in Greenland and Antarctica has been linked to changes in the Gulf Stream, which is a major ocean current that helps regulate the Earth's climate.
      Loss of biodiversity: Melting glaciers can also lead to the loss of biodiversity, as many species that depend on cold, high-elevation environments are adapted to living in areas where glaciers are present. As the glaciers melt, these species may be forced to migrate to new areas or face extinction.
      Overall, the melting of glaciers can have a number of significant and far-reaching effects on the Earth's environment and climate.</p>
      <div><img src="SeaIce.png"></div>
  </div>
</div>
<div class="model4">
  <div class="model-content">
    <span class="close4">&times;</span>
    <h1>Artic Ice Sheets</h1>
    <p>Melting ice sheets can have a number of significant impacts on the Earth's climate and environment. Here are a few reasons why melting ice sheets are a concern:
      Sea level rise: When ice sheets melt, the water that was previously trapped in the ice flows into the ocean, causing sea levels to rise. This can lead to coastal flooding and erosion, and can also have negative impacts on coastal ecosystems.
      Changes in regional climate: Ice sheets reflect a lot of solar radiation back into space, which helps to regulate global temperatures. When ice sheets melt, they lose this reflective capability, which can lead to warming in the surrounding areas.
      Impacts on wildlife: Many species, including polar bears and seals, rely on ice sheets for their habitat. Melting ice sheets can disrupt these ecosystems and harm these species.
      Changes in ocean circulation: The melting of ice sheets can also change the circulation of the ocean, which can have impacts on regional weather patterns and the global climate.
      Overall, melting ice sheets can have a range of impacts on the Earth's climate and environment, and understanding these impacts is important for developing strategies to mitigate their negative effects.</p>
      <div><img src="LandIceAntarctica.png"></div>
      <div><img src="LandIceGreenLand.png"></div>
  </div>
</div>
<div class="model5">
  <div class="model-content">
    <span class="close5">&times;</span>
    <h1>Rising Sea Levels</h1>
    <p>Rising sea levels are a significant concern because they can have a range of negative impacts on human communities, the environment, and the economy. Here are some potential arguments that could be made about the issue of rising sea levels:
      Human health and safety: Higher sea levels can increase the risk of flooding, which can lead to property damage, displacement of people, and loss of life. Coastal flooding can also contaminate drinking water sources and disrupt infrastructure, such as roads and power lines.
      Environmental impacts: Rising sea levels can have a range of negative effects on ecosystems, including the loss of habitats for plants and animals, erosion, and saltwater intrusion into freshwater areas. This can lead to the loss of biodiversity and disruption of the balance of ecosystems.
      Economic consequences: The costs of adapting to rising sea levels, such as building sea walls and relocating infrastructure, can be significant. In addition, the damages caused by flooding and other impacts of sea level rise can have a negative impact on local economies and industries, such as tourism and fishing.
      Contribution to climate change: Rising sea levels are one of the consequences of climate change, and the continued rise in global temperatures is likely to contribute to further sea level rise. This means that addressing the issue of rising sea levels will also require addressing the root cause of climate change, which is the emission of greenhouse gases.
      Overall, rising sea levels present a complex and multifaceted challenge that requires a range of solutions, including efforts to reduce greenhouse gas emissions, adapt to changing conditions, and protect vulnerable communities.</p>
      <div><img src="SeaLevel.png"></div>
  </div>
</div>
<div class="model6">
  <div class="model-content">
    <span class="close6">&times;</span>
    <h1>Sea Surface Temperature</h1>
    <p>
      Rising sea surface temperatures can have a variety of impacts on the environment, both on land and in the oceans. Some of the ways that rising sea surface temperatures can affect the environment include:
      Coral bleaching: Rising sea surface temperatures can cause coral bleaching, which is a process in which coral reefs lose their colorful algae and become more susceptible to disease. Coral reefs provide important habitat for a variety of marine species and are also an important source of food and income for people who rely on them.
      Changes in marine ecosystems: Rising sea surface temperatures can alter the distribution and behavior of marine species, which can have cascading effects on the entire ecosystem. For example, warmer waters may lead to the expansion of species that are more adapted to warmer temperatures, while cooler-water species may struggle to survive.
      Increased storm intensity: Warmer sea surface temperatures can also lead to more intense storms, such as hurricanes and typhoons. These storms can cause damage to coastlines, infrastructure, and ecosystems.
      Changes in coastal communities: Rising sea levels, which are often associated with rising sea surface temperatures, can also have impacts on coastal communities. For example, flooding and erosion may become more common, which can lead to the loss of homes and infrastructure.
      Overall, rising sea surface temperatures can have a range of negative impacts on the environment and on human communities that depend on the oceans.</p>
      <div><img src="ocean_heat.png"></div>
  </div>
</div>



<%- include('../partials/footer') %>


