<%- include('../partials/header') %>

<h1>Carbon Dioxide</h1>
<h1>Global Temp</h1>
<h1>Sea Level</h1>
<h1>Glaciers Melting</h1>
<h1>Artic Ice </h1>
<h1>Sea Surface Temperature</h1>



<%- include('../partials/footer') %>