<%- include('../partials/header') %>
  
<link rel="stylesheet" href="/stylesheets/homepage.css">
<script defer src="../../public/javascripts/app.js"></script>
<body>
  
  <video width="1450" height="820"autoplay muted loop id="myVideo">
    <source src="ice.mp4" type="video/mp4">
  </video>
</body>
<div class="circle-container">
  <div>
    <h1>Carbon Dioxide
      <h3>+420 parts per million 
        <div class="circle1"></div>
      </h3>
  </div>
</h1>
  <h1>Global Temperature</h1>
  <h1>Glaciers Melting</h1>
  <div>
    <div class="circle1"></div>
    <h3>+420 parts per million</h3>
  </div>
  <div>
    <div class="circle2"></div>
    <h3>+1.01 Celsius since 1880</h3>
  </div>
  <div>
    <div class="circle3"></div>
    <h3>-12.6 percent per decade since 1879</h3>
  </div>
  <h1>Artic Ice Sheets</h1>
  <h1>Sea Level</h1>
  <h1>Sea Surface Temperature</h1>

  <div>
    <div class="circle4"></div>
    <h3>-427 billion metric tons per year</h3>
  </div>
  <div>
    <div class="circle5"></div>
    <h3>+4 inches since Jan 1993</h3>
  </div>   
  <div>
    <div class="circle6"></div>
    <h3>+337 zettajoules since 1955</h3>
  </div>
</div>



<%- include('../partials/footer') %>


