<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/newspage.css">

<div class="container">
  <div class="news-articles">
    <h1>News Page</h1>
    <div class="article1">
      <hr>
      <p>Europe's 2022 heatwaves cause thousands of excess deaths</p>
      <h6>Juliette Portala &nbsp; Nov 24 2022</h6>
      <div><a target="_blank" href="https://www.reuters.com/business/cop/europes-heatwave-may-have-caused-more-than-20000-excess-deaths-2022-11-24/">Read Article</a></div>
      <img src="https://www.reuters.com/resizer/sBPu42383-SG5w6wt2Dxhe49kuY=/1200x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/BN2H5YDFPRNJJE2BRG5VN6ALLM.jpg">
    </div>
    <hr>
    <div class="article2">
      <p>NASA Study: Rising Sea Level Could Exceed Estimates for U.S. Coasts</p>
      <h6>Sally Younger &nbsp; Nov 15 2022</h6>
      <div><a target="_blank" href="https://climate.nasa.gov/news/3232/nasa-study-rising-sea-level-could-exceed-estimates-for-us-coasts/
      ">Read Article</a></div>
      <img src="https://climate.nasa.gov/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBL2h2QWc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--a8a1283c048ec9416cee05afc17df80c2e0b4a91/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9MWm05eWJXRjBPZ2wzWldKdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--308d105b858fde2aa7c2bd953e87f719e2dd73bb/main_image.jpg?content_type=image%2Fwebp&disposition=inline">
    </div>
    <hr>
    <div class="article3">
      <p>Climate change is hitting the planet faster than scientists originally thought</p>
      <h6>Jeff Tollefson &nbsp; Feb 28 2022</h6>
      <div><a target="_blank" href="https://www.nature.com/articles/d41586-022-00585-7
      ">Read Article</a></div>
      <img src="https://media.nature.com/lw767/magazine-assets/d41586-022-00585-7/d41586-022-00585-7_20176136.jpg?as=webp">
    </div>
    <hr>
    <div class="article4">
      <p>What is Global Warming, explained</p>
      <h6>Christina Nunez &nbsp; Jan 21 2019</h6>
      <div><a target="_blank" href="https://www.nationalgeographic.com/environment/article/global-warming-overview">Read Article</a></div>
      <img src="https://cdn.pixabay.com/photo/2017/06/04/04/16/warming-2370285_1280.jpg">
    </div>
  </div>

</div>

<%- include('../partials/footer') %>
