<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/aboutuspage.css"> 

<div class="container">
  <div class="blogs">
    <div class="mission">
    <h1>Mission </h1>
    <h2>Our mission is to engage, educate and inform others with information on our rapidly changing climate.</h2>
  </div>
  <hr>
  <div class="humanity-goal">
    <h1>Humanity's Goals for 2030</h1>
    <h2>Climate Change is here NOW. We can limit further warming and the dangers it poses—if we act now. Every fraction of a degree matters.</h2>
    <h2>What WE do between NOW and 2030 will determine whether we can slow warming enough to avoid climate change's worst impacts. We must drastically cut emissions and remove some carbon from the atmosphere. Fortunately, plants naturally absorb and store carbon</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t4eE9Fqu1yE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>

</div>

<%- include('../partials/footer') %>
