<%- include('../partials/header') %>
<link rel="stylesheet" href="/stylesheets/aboutuspage.css"> 

<div class="container">
  <div class="blogs">
    <h1>Mission</h1>
    <h2>To enagage and educate the world with blogs on our rapidly changing climate</h2>

  </div>

</div>

<%- include('../partials/footer') %>
